#header h1, #header a {
  text-decoration: none;
}

#header ul {
  padding-left: 0;
  display: flex;
  list-style: none;
}

#header li {
  margin-right: 30px;
}

#members, #non-members {
  display: flex;
  flex-wrap: wrap;
}

#person-card ul {
  list-style: none;
  padding-left: 0;
}

.meeting-item {
  display: flex;
}

.meeting-item * {
  margin-right: 10px;
}

#speaker-app .info {
  display: flex;
  align-items: center;
}
#speaker-app .info .photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
  border: 1px solid #ccc;
}