#header h1, #header a {
  text-decoration: none;
}

#header ul {
  padding-left: 0;
  display: flex;
  list-style: none;
}

#header li {
  margin-right: 30px;
}

#members, #non-members {
  display: flex;
  flex-wrap: wrap;
}

#person-card ul {
  list-style: none;
  padding-left: 0;
}