@charset "UTF-8";
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.timeline {
  position: relative;
  width: 100%;
  padding: 0 0 0 0;
}
.timeline .panel-group {
  padding-bottom: 8px;
}
.timeline .line {
  position: absolute;
  width: 2px;
  display: block;
  top: 40px;
  bottom: 0px;
  margin-left: 3px;
  background: #dc3545;
}
.timeline .panel {
  position: relative;
  margin: 10px 0px 0px 13px;
  clear: both;
  margin: 0 auto;
  padding: 12px 0px 0 13px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.timeline .panel:last-child {
  margin-bottom: 40px;
}
.timeline .panel > .panel-heading .icon {
  position: absolute;
  left: 0px;
  top: 35px;
  width: 8px;
  height: 8px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  background-color: #dc3545;
}
.timeline .panel-default {
  border: 0;
}
.timeline .panel-default > .panel-heading {
  border: 0;
  background: none;
  font-weight: 400;
  margin-top: 10px;
}
.timeline .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0;
  padding-top: 0;
  border-bottom: 0;
}
.timeline .panel-title {
  font-size: 24px;
  border: 0;
  text-decoration: none;
  color: #333;
}